NSL-01/object_files_dir/
NSL-01/*.exe
NSL-01/notebook/.ipynb_checkpoints/
NSL-02/object_files_dir/
NSL-02/*.exe
NSL-02/notebook/.ipynb_checkpoints/
NSL-03/object_files_dir/
NSL-03/*.exe
NSL-03/notebook/.ipynb_checkpoints/
NSL-04/object_files_dir/
NSL-04/*.exe
NSL-04/notebook/.ipynb_checkpoints/
NSL-05/object_files_dir/
NSL-05/*.exe
NSL-05/notebook/.ipynb_checkpoints/
NSL-06/*.o
NSL-06/*.exe
NSL-06/notebook/.ipynb_checkpoints/
NSL-07/*.o
NSL-07/*.exe
NSL-07/notebook/.ipynb_checkpoints/
NSL-08/*.o
NSL-08/*.exe
NSL-08/notebook/.ipynb_checkpoints/
NSL-09/*.o
NSL-09/*.exe
NSL-09/notebook/.ipynb_checkpoints/
