NSL-01/object_files_dir/
NSL-01/*.exe
NSL-01/notebook/.ipynb_checkpoints/
NSL-02/object_files_dir/
NSL-02/*.exe
NSL-02/notebook/.ipynb_checkpoints/
NSL-03/object_files_dir/
NSL-03/*.exe
NSL-03/notebook/.ipynb_checkpoints/
NSL-04/object_files_dir/
NSL-04/*.exe
NSL-04/notebook/.ipynb_checkpoints/
